<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.alfathoshi.fragments</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fragments</string>
			</array>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Fragments uses your local network to discover and live-sync shared moments with nearby friends.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_frag-sync._tcp</string>
		<string>_frag-sync._udp</string>
	</array>
</dict>
</plist>
